<head>
    <%- include('../partials/head') %>
</head>
<body>
    <div class="container">

        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>    
        <main>
            <%- body %> <!-- This is where the content of each view will be injected -->
        </main>
        <%- include('../partials/footer') %>

    </div>
</body>
</html>